.brand-logo img {
max-height: 80px;
margin-top: 20px;
}
@media only screen and (min-width: 601px) {

nav, nav .nav-wrapper i, nav a.button-collapse, nav a.button-collapse i {
height: 100px;
line-height: 64px;
}
}

.card .card-title {
color: #fff;
font-size: 35px;
font-weight: 100;
font-style: italic;
}

.card a {
color: #FFFFFF;
margin-right: 20px;
-webkit-transition: color 0.3s ease;
-moz-transition: color 0.3s ease;
-o-transition: color 0.3s ease;
-ms-transition: color 0.3s ease;
transition: color 0.3s ease;
text-transform: uppercase;
}

@media only screen and (min-width: 0)
html {
font-size: 10px;
}

h1 {
font-size: 40px;
line-height: 4.62rem;
margin: 2.1rem 0 1.68rem 0;
}

h1, h2, h3, h4, h5, h6 {
font-weight: 300;
}